$LMARG: 80 rem

ul, h1, h2, h3
  font-family: sans-serif

.orange
  color: orange

.black
  color: black

ul
  padding-right: 9rem
li
  padding: 1.5rem 1.75rem 0.25rem 0
  display: flex
  background-color: grey
  padding: 200 px
  margin-right: 800px
  justify-content: flex-end
