<h2>{{title}}</h2>
<table mat-table [dataSource]="fruitData">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id </th>
    <td mat-cell *matCellDef="let fruit"> {{fruit.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Fruit </th>
    <td mat-cell *matCellDef="let fruit" [ngClass]="{'orange' : fruit.isHighlighted, 'black' : !fruit.isHighlighted}"> {{fruit.name}} <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="option">
      <mat-option *ngFor="let option of selectOptions" [value]="selectOptions">
        {{option}}
      </mat-option>      </mat-select>
      </mat-form-field>
      <mat-checkbox (click)="onClickFruit(fruit)" >Edible</mat-checkbox>
      <div class="buttons">
        <button (click)="editFruit(fruit.id)" type="button" class="edit">Edit</button>
        <button (click)="deleteFruit(fruit.id)" type="button" class="delete">Delete</button>
      </div> </td>
  </ng-container>
  <ng-container matColumnDef="isHighlighted">
    <th mat-header-cell *matHeaderCellDef>Highlighted </th>
    <td mat-cell *matCellDef="let fruit"> {{fruit.isHighlighted}} </td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-spinner *ngIf="loading"></mat-spinner>